body {
 margin-right:auto;
 margin-left:auto;
 padding:0 50px;
 max-width: 960px;
 text-align: center;
 font-family: 'Open Sans', sans-serif;
 font-size: 1.4em; 
 background-color: #cccc99;
 }

h1 {
 margin-right:auto;
 margin-left:auto;
 padding:0 50px;
 max-width: 960px;
 text-align: center;
 font-family: verdana; 
 text-transform: capitalize;
 font-size: 2.4em; 
 line-height: 3.2;
}

img {
 margin-right:auto;
 margin-left:auto;
 line-height: 3.2;
 width:1000px;
 height:450px;
 text-align: center;
 max-width: 960px;
}


.column1 {
    float: left;
    width: 48%;
    padding: 1%;
    line-height:2em;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-size: .8em;
}



.column2 {
    float: right;
    width: 48%;
    padding: 1%;
    line-height:2em;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-size: .8em;
}

.column3 {
	clear:both; 
	font-family: 'Open Sans', sans-serif;
	font-size: .8em;
	}




@media only screen and (max-width: 100%) {
    body {
    
        font-size: .5em;
    }
}
